ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
}

li {
  list-style-type: none;
  width: 160px;
  cursor: pointer;
}

.family-select {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: none;
  border-radius: 25px;
  width: 160px;
  height: 160px;
  background: var(--flash-white);
  box-shadow: rgba(0, 0, 0, 0.288) 0px 2px 4px 0px inset;

  img {
    width: 120px;
  }

  h1 {
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    color: var(--payne-gray);
  }
}
