.family-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.family-select {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: none;
  border-radius: 25px;
  width: 160px;
  height: 160px;
  margin: 10px;
  background: var(--flash-white);
  box-shadow: rgba(0, 0, 0, 0.288) 0px 2px 4px 0px inset;

  img {
    width: 120px;
  }

  h1 {
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    color: var(--payne-gray);
  }
}

.empty {
  width: 160px;
  height: 160px;
  margin: 10px;
}


