.item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}


.item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  margin: 10px;
  border: none;
  border-radius: 25px;
  background: var(--flash-white);
  box-shadow: rgba(0, 0, 0, 0.288) 0px 2px 4px 0px inset;
}

img {
  width: 160px;
  height: 160px;
  border-radius: 25px;
}

.empty {
  width: 160px;
  height: 160px;
  margin: 10px;
}
