ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
}

li {
  list-style-type: none;
  width: 160px;
}

img {
  width: 160px;
  height: 160px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 25px;
}

.description {
  position: absolute;
  top: -25px;
  left: 0px;
  height: 110vh;
  width: 100%;
  background-color: var(--buff);
  display: flex;
  justify-content: center;
}