.christmas-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.title {
  margin-top: 25px;
  color: var(--payne-gray);
  font-family: 'Lato','Arial','Helvetica','sans-serif';
  font-size: 20px;
  cursor: pointer;
}
