.description {
  margin-top: 100px;
  padding: 25px;
  border-radius: 25px;
  width: 76vw;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.288) 0px 2px 4px 0px inset;
  background-color: var(--flash-white);
  font-size: 16px;
}

.item-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.back-arrow {
  padding: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.item-image {
  width: 160px;
  height: 160px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.bought {
  width: 250px;
  height: 45px;
  border-radius: 10px;
  border: solid var(--payne-gray);
  font-size: 16px;
  background-color: inherit;
  cursor: pointer;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 250px;
  height: 45px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  background-color: var(--cambridge-blue);
  text-decoration: none;
  color: var(--flash-white);
  font-family: 'Lato', 'Arial', 'Helvetica', 'sans-serif';
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  cursor: none;
}