/* You can add global styles to this file, and also import other style files */


$dimGray: #646F75;
$taupeGray: #949399;
$cadetGray: #8C9EAA;
$silver:  #C3C4C6;
$lightBlue: #9CC6D4;
$cambridgeBlue: #7FA490;
$persianOrange: #CD936D;
$lightCoral: #DB7076;
$indianRed: #E04C52;
$columbiaBlue: #C0CFE4;
$antiFlashWhite: #E2E7EA;
$folly: #F14E63;
$payneGray: #5A6C70;
$buff: #E7A374;


:root {
  --columbia-blue: #C0CFE4;
  --flash-white:  #f2f6f8;
  --payne-gray: #5A6C70;
  --folly: #F14E63;
  --buff: #e7a47460;
  --cambridge-blue: #7FA490;
}

body {
  background-color: #C0CFE4;
}